
.header {
width: 100%;
height: 62px;
background: #075CB5;
}

.logo {
	display: flex;
	align-items: center;
	height: 100%;
}

.logo-text {
	font-family: PT Sans;
	font-style: italic;
	font-weight: bold;
	font-size: 13px;
	line-height: 20px;
	/* or 154% */
	letter-spacing: 1px;
	/* White */
	color: #FFFFFF;
	}

.bnt-1,
.bnt-2,
.bnt-3 {
	display: inline-flex;
}

.bnt-2,
.bnt-3 {
	align-self: end;
}

.container-btns {
	padding-left: 8px;
	padding-right: 8px;
}

@media (max-width: 768px) {
	.btns {
	flex-direction: column;
	}
}

.block3,
.block4,
.block5 {
	margin-top: 77px !important;
}
